{% extends 'main.html' %}
{% block content %}
<div class="content">
<section>
<h1>Overall Architecture</h1>
<div class="content">
<center><img src="{{STATIC_URL}}/images/details_images/architecture.png" alt="Overall Architecture Image" style="width:720px; height:540px"></center>
</div>
</section>
</div>
<div class="content">
<section>
<h1>Topology Distribution</h1><div class="content">
<center><img src="{{STATIC_URL}}/images/details_images/top_distribution_1.png" alt="Topology Distribution 1/2" style="width:720px; height:540px"></center>
<br/>
<center><img src="{{STATIC_URL}}/images/details_images/top_distribution_2.png" alt="Topology Distribution 2/2" style="width:720px; height:540px"></center>
</div>
</section>
</div>
<div class="content">
<section>
<h1>Topology Index</h1>
<div class="content">
<center><img src="{{STATIC_URL}}/images/details_images/ti_format.png" alt="Topology Index format" style="width:720px; height:540px"></center>
</div>
</section>
</div>
<div class="content">
<section>
<h1>Pathfinder</h1>
<div class="content">
<center><img src="{{STATIC_URL}}/images/details_images/path_requirements.png" alt="Path Requirements" style="width:720px; height:540px"></center>
<br/>
<center><img src="{{STATIC_URL}}/images/details_images/path_example.png" alt="Path example" style="width:720px; height:540px"></center>
</div>
</section>
</div>
{% endblock %}