{% extends 'main.html' %}
{% block content %}
<div class="content">
<section>
<h1>{{ title }} ({{ timestamp }})</h1>
<div id="graphHolder" align="center"></div>
</section>
</div>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">

    var width = {{ svg_width }},
        height = {{ svg_height }};

    var graph = {{ json_data|safe }};

    var color = d3.scale.category20();

    var vis = d3.select("#graphHolder").append("svg:svg")
    .attr("width", width)
    .attr("height", height);

        var force = self.force = d3.layout.force()
            .nodes(graph.nodes)
            .links(graph.links)
            .gravity(.05)
            .distance(150)
            .charge(-400)
            .size([width, height])
            .start();

        var link = vis.selectAll(".link")
            .data(graph.links)
            .enter().append("svg:line")
            .attr("class", "link")
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        var node_drag = d3.behavior.drag()
            .on("dragstart", dragstart)
            .on("drag", dragmove)
            .on("dragend", dragend);

        function dragstart(d, i) {
            force.stop() // stops the force auto positioning before you start dragging
        }

        function dragmove(d, i) {
            d.px += d3.event.dx;
            d.py += d3.event.dy;
            d.x += d3.event.dx;
            d.y += d3.event.dy;
            tick(); // this is the key to make it work together with updating both px,py,x,y on d !
        }

        function dragend(d, i) {
            d.fixed = true; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
            tick();
            force.resume();
        }

        var node = vis.selectAll("g.node")
            .data(graph.nodes)
          .enter().append("svg:g")
            .attr("class", "node")
            .call(node_drag);

        node.append("circle")
            .attr("class", "circle")
            .attr("r", 30) //radious
            .style("fill", function(d) { return color(d.club); });
{#            .attr("x", "-8px")#}
{#            .attr("y", "-8px")#}
{#            .attr("width", "16px")#}
{#            .attr("height", "16px");#}

        node.append("svg:text")
            .attr("class", "nodetext")
            .attr("text-anchor", "middle")
{#            .attr("dx", 12)#}
{#            .attr("dy", ".35em")#}
            .text(function(d) { return d.id });

        force.on("tick", tick);

        function tick() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });
          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        };
</script>
{% endblock %}