{% extends 'main.html' %}
{% block content %}
    <div class="content">
    <section>
    <h1>STPs available per Domain</h1>
    <div class="content">
	{% for key, values in stps.items %}
	<table class="table table-bordered table-striped">
        <tr>
        <th>Domain {{ key }}</th>
        </tr>
        <tr>
        <td>
        {% for value in values %}
		    <span class="header-left">{{ value }}</span>
		    <br/>
		{% endfor %}
		</td>
		</tr>
	</table>
	{% endfor %}
    </div>
    </section>
{% endblock %}