<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" media="screen" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="{{STATIC_URL}}css/main.css">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/uva-favicon.ico">
</head>
<body>
<div class="wrapper">
    <header>
        <img align="right" src="https://surfsara.nl/sites/default/files/styles/logo-large/public/SURFnet_logo.jpg">
        <!--<img src="https://ivi.fnwi.uva.nl/sne/wp//wp-content/themes/twentyten-sne/images/logo-sne-600x31.png">-->
        <!--<img src="https://ivi.fnwi.uva.nl/sne/wp/wp-content/themes/twentyten-sne/images/logo_uva-300x31.png">-->
        <img align="left" src="http://db.amsterdambiomed.nl/assets/logos/UvA_1.jpg" width="60%" height="60%">
        <img src="http://delaat.net/logos/logo-sne/logo-sne-blue.png" height="10%" width="10%">
        <img align="center" src="http://www.nas.its.tudelft.nl/templates/tx_zenith/images/logo.png">
    </header>
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                {% block navigation %}
                    <ul class="nav">
                    <li><a href="overview">Topology Overview</a></li>
                    <li><a href="pf">Pathfinder</a><li>
                    <li><a href="graph">Network graph</a></li>
                    <li><a href="details">Architecture details</a></li>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
    {% block content %}
        Something should be placed here!!!
    {% endblock %}
    <footer>
        <div class="content-some-dense">
            <p align="center">University of Amsterdam, System and Network Engineering group - <a href=\"http://sne.science.uva.nl\">sne.science.uva.nl</a> | SURFnet - <a href="https://www.surf.nl/en/knowledge-and-innovation/innovationprojects/2009/gigaport3.html">GigaPort3</a></p>
        </div>
    </footer>
</div>
</body>
</html>