{% extends 'main.html' %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
        <div class="content">
        {% csrf_token %}
             <section>
                 <h1>
                     Topology Index
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped">
                 <tr>
                 <th align="right" style="padding-left: 30px">Index URL</th>
                 <td align="center" style="padding-left: 30px">{{ ti_url }}</td>
                 <th align="right" style="padding-left: 30px">Domains registered</th>
                 <td align="center" style="padding-left: 30px"><a href="ti">{{ ti_size }}</a></td>
                 </tr>
                 <tr>
                 <th align="right" style="padding-left: 30px">Number of subscribers</th>
                 <td align="center" style="padding-left: 30px"><a href="ti_subs">{{ ti_subs }}</a></td>
                 <th align="right" style="padding-left: 30px">Updates received</th>
                 <td align="center" style="padding-left: 30px"><a href="ti_updates_info">{{ ti_updates }}</a></td>
                 </tr>
                 </table>
                 </div>
             </section>
             <section>
                 <h1>
                     Lookup service
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped">
                 <tr>
                 <th align="right" style="padding-left: 30px">Lookup Service URL</th>
                 <td align="center" style="padding-left: 30px">{{ ls_url }}</td>
                 <th align="right" style="padding-left: 30px">Number of STPs</th>
                 <td align="center" style="padding-left: 30px"><a href="show_stps">{{ ls_size }}</a></td>
                 <th align="right" style="padding-left: 30px">Update Interval</th>
                 <td align="center" style="padding-left: 30px">{{ ls_interval }}</td>
                 </tr>
                 </table>
                 </div>
             </section>
             <section>
                 <h1>
                     Topology providers
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped" id="tp_table">
                 <thead>
                 <tr>
                 <th>Topology provider name</th>
                 <th>Topology provider url</th>
                 <th>Domain representing</th>
                 <th>Current version of NML</th>
                 <th>Topology changes</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for tp,values in tps.items %}
                 <tr>
                 <td style="padding-left: 30px"><b>{{ tp }}</b></td>
                     {% for name, value in values.items %}
                         {% for attr, item in value.items %}
                         <td style="padding-left: 20px"> {{ item }}</td>
                         {% endfor %}
                     {% endfor %}
                 </tr>
                 {% endfor %}
                 </tbody>
                 </table>
                 </div>
             </section>
             <section>
                 <h1>
                     Topology Consumer
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped">
                 <tr>
                 <th align="right" style="padding-left: 30px">Topology Consumer URL</th>
                 <td align="center" style="padding-left: 30px">{{ tc_url }}</td>
                 <th align="right" style="padding-left: 30px">Topology Consumer name</th>
                 <td align="center" style="padding-left: 30px">{{ tc_name }}</td>
                 </tr>
                 <tr>
                 <th align="right" style="padding-left: 30px">Topology Consumer type</th>
                 <td align="center" style="padding-left: 30px">{{ tc_type }}</td>
                 <th align="right" style="padding-left: 30px">Paths Calculated</th>
                 <td align="center" style="padding-left: 30px"><a href="paths">{{ tc_paths_number }}</a></td>
                 </tr>
                 <tr>
                 <th align="right" style="padding-left: 30px">Domains monitoring</th>
                 <td align="center" style="padding-left: 30px">{{ tc_domains }}</td>
                 <th align="right" style="padding-left: 30px">Updates received</th>
                 <td align="center" style="padding-left: 30px">{{ tc_updates }}</td>
                 </tr>
                 <tr>
                 <th align="right" style="padding-left: 30px">Domain Expire limit</th>
                 <td align="center" style="padding-left: 30px">{{ tc_time_limit }}</td>
                 <td></td>
                 <td></td>
                 </tr>
                 </table>
                 </div>
             </section>
        </div>
    <script type="text/javascript">
        $(document).ready(function()
            {
                $("#tp_table").tablesorter();
            }
        );
	    </script>
{% endblock %}