{% extends 'main.html' %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <div class="content">
    <section>
    <h1>Paths Calculated</h1>
    <div class="content">
    <table id="path_table" class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Timestamp</th>
    <th>Domain from -> to</th>
    <th>Path</th>
    </tr>
    </thead>
    <tbody>
    {% for item, values in paths.items %}
    <tr>
    <td>{{ item }}</td>
    <td>{{ values.start_domain }} -> {{ values.end_domain }}</td>
    <td>
		<b>{{ values.start_stp }}</b> =>
         {% for val in values.path %}
             {% for key in val %}
                 {% if not key == values.start_stp and not key == values.end_stp %}
                     <p>{{ key }} =></p>
                 {% endif %}
             {% endfor %}
         {% endfor %}
         <b>{{ values.end_stp }}</b>
		</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
	</div>
	</section>
    </div>
    <script type="text/javascript">
    $(document).ready(function()
        {
            $("#path_table").tablesorter();
        }
    );
	    </script>
    </section>
{% endblock %}