{% extends 'main.html' %}
{% block content %}
<script type="text/javascript">
var data = {{ json_data|safe }};

function getSTPSbydomain(val) {

    var domainSTPs = new Array()
    for (var key in data){
        if (key == val.value){
            domainSTPs = data[key];
            }
    }
    if (val.id == "fdomain"){
        var select = document.getElementById("fstp");
        select.options.length = 0;
        for (var i = 0; i < domainSTPs.length; i++){
            var option = document.createElement("option");
            option.text = domainSTPs[i];
            option.value = domainSTPs[i];
            select.appendChild(option);

        }
    }
    if (val.id == "tdomain"){
        var select = document.getElementById("tstp");
        select.options.length = 0;
        for (var i = 0; i < domainSTPs.length; i++){
            var option = document.createElement("option");
            option.text = domainSTPs[i];
            option.value = domainSTPs[i];
            select.appendChild(option);

        }
    }
}
</script>
        <div class="content">
         <form action="path_submit" method="post">
         {% csrf_token %}
             <section>
                 <h1>
                     Start of the path
                 </h1>
                 <div class="content">
                 <select name="from_domain" id="fdomain" onchange="getSTPSbydomain(this)" align="left">
                     <option selected="selected" disabled>Select starting domain</option>
                 	{% for domain, values in stps.items %}
		                    <option value="{{ domain }}">{{ domain }}</option>
		            {% endfor %}
		         </select>
		         <select name="from_stp" id="fstp" align="center">
                     <option selected="selected" disabled>Select starting STP</option>
		         </select>
                 </div>
             </section>
             <section>
                 <h1>
                     End of the path
                 </h1>
                 <div class="content">
                 <select name="to_domain" id="tdomain" onchange="getSTPSbydomain(this)" align="left">>
                    <option selected="selected" disabled>Select ending domain</option>
                 	{% for domain, values in stps.items %}
		                    <option value="{{ domain }}">{{ domain }}</option>
		            {% endfor %}
		         </select>
		         <select name="to_stp" id="tstp">
                    <option selected="selected" disabled>Select ending STP</option>
		         </select>
                 </div>
             </section>
             <section>
             <h1>Options</h1>
                 <div class="content">
                 <table>
                 <tr>
                 <th width="40%">Via Domain</th>
                 <td width="60%">
                 <select name="via_domain" id="=viadomain">
                    <option selected="selected" disabled>Select via domain</option>
                 	{% for domain, values in stps.items %}
		                    <option value="{{ domain }}">{{ domain }}</option>
		            {% endfor %}
		         </select>
                 </td>
                 </tr>
                 <tr>
                 <th width="40%">Not Via Domain</th>
                 <td width="60%">
                 <select name="not_domain" id="notdomain">
                    <option selected="selected" disabled>Select not via domain</option>
                 	{% for domain, values in stps.items %}
		                    <option value="{{ domain }}">{{ domain }}</option>
		            {% endfor %}
		         </select>
                 </td>
                 </tr>
                 </table>
                 </div>
             </section>
             {% if new_path|length > 1 %}
             <section>
             <h1>
                 Calculated Path
             </h1>
             <div class="content">
             <p style="padding-left: 30px">(START)<b>{{ from_stp }}</b> => </p>
                {% for item in new_path %}
                   {% for val in item %}
                       {% if not val == from_stp and not val in to_stp %}
                           <p style="padding-left: 30px">{{ val }} =></p>
                       {% endif %}
                   {% endfor %}
                {% endfor %}
             <p style="padding-left: 30px"><b> {{ to_stp }}</b>(END)</p>
             </div>
             </section>
             {% elif from_stp|length > 0 and to_stp|length > 0 and new_path|length == 0 %}
             <section>
             <h1>
                 Calculated Path
             </h1>
             <div class="content">
             <p>Sorry. No path found from {{ from_stp }} -> {{ to_stp }}</p>
             </div>
             </section>
             {% endif %}
             <section>
                 <p align="left" style="padding-left: 50px"><input type="submit" value="Submit" align="right"/></p>
             </section>
         </form>
        </div>
{% endblock %}