{% extends 'main.html' %}
{% block content %}
    <div class="content">
    <section>
    <h1>Topology Index subscribers</h1>
    <div class="content">
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Subscriber</th>
    <th>Registration timestamp</th>
    <th>Callback address</th>
    </tr>
    </thead>
    <tbody>
    {% for name,values in ti_subs.items %}
        <tr>
        <td style="padding-left: 30px"><b>{{ name }}</b></td>
        {% for key,val in values.items %}
        <td style="padding-left: 30px">{{ val }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </section>
    </div>
{% endblock %}