{% extends 'main.html' %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <div class="content">
    <section>
    <h1>Topology Index updates info</h1>
    <div class="content">
    <table class="table table-bordered table-striped" id="ti_infoContent" class="sortable">
    <thead>
      <tr>
        <th width="20%">Domain</th>
        <th width="20%">Updates sent</th>
        <th width="60%">Last update</th>
      </tr>
    </thead>
    <tbody>
    {% for key,values in ti_updates.items %}
    <tr>
        <td style="padding-left: 30px" > <b>{{ key }}</b></td>
        {% for name, value in values.items %}
            {% if name == "updates" %}
               <td style="padding-left: 30px" >{{ value }}</td>
            {% elif name == "last_update" %}
               <td style="padding-left: 30px" >{{ value }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </section>
    <script type="text/javascript">
    $(document).ready(function()
        {
            $("#ti_infoContent").tablesorter();
        }
    );
	    </script>
    </div>
{% endblock %}