{% extends 'main.html' %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <div class="content">
    <section>
    <h1>Topology Index table</h1>
    <div class="content">
    <table class="table table-bordered table-striped" id="ti_content" class="sortable">
    <thead>
    <tr>
    <th>Domain</th>
    <th>Neighbours</th>
    <th>Topology file URL</th>
    <th>Version</th>
    <th>Foreign domains</th>
    </tr>
    </thead>
    <tbody>
    {% for attr, entry in domains.items %}
        <tr>
        <td><b>{{ attr }}</b></td>
            {% for name, item in entry.items %}
                {% if name != "name" %}
                    {% if name == "neighbors" %}
                        <td>
                        {% for i in item %}
                            {{ i }}
                        {% endfor %}
                        </td>
                    {% elif name == "foreign" %}
                        <td>
                        {% for i in item %}
                            {{ i }}
                        {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <script type="text/javascript">
    $(document).ready(function()
        {
            $("#ti_content").tablesorter();
        }
    );
	    </script>
    </section>
    </div>
{% endblock %}